.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #111;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #222;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: top 0.3s ease-in-out;
}

body > *:not(.top-bar) {
    margin-top: 50px;
}

.top-bar-hidden {
    top: -60px;
}
